@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
    font-weight: 100;
}